/* KEY POSITIONS (using keypos_def helpers)
    ╭─────────────────────┬─────────────────────╮
    │ LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
╭───╯ LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 ╰───╮
│ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
            ╰─────────────┴─────────────╯       */

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP, ...) \
    combo_##NAME { \
        timeout-ms = <TERM>; \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
        require-prior-idle-ms = <QUICKTAP>; \
        __VA_ARGS__ \
    };

/ {
    combos {
        compatible = "zmk,combos";
// top
COMBO(lock,   &kp LG(L),   LT1 LT0,     DEF EXT,      80, 500)
COMBO(sleep,  &sleep,      RT0 RT1,     DEF BRD,      80, 500)
COMBO(at,     &kp AT,      LT3 LT2,     DEF EXT,      40, 150)

COMBO(hash,   &kp HASH,    LT2 LT1,     DEF EXT,      40, 150)

COMBO(esc,    &kp ESC,     LT4 LT3,     DEF EXT,      40, 150)
COMBO(del,    &kp DEL,     RT3 RT4,     DEF EXT,      40, 150)

// middle
COMBO(lpar,   &kp LPAR,    LM2 LM1,     DEF EXT,      40, 100)
COMBO(rpar,   &kp RPAR,    RM1 RM2,     DEF EXT,      40, 100)
COMBO(lbkt,   &kp LBKT,    LM3 LM2,     DEF EXT,      40, 100)
COMBO(rbkt,   &kp RBKT,    RM2 RM3,     DEF EXT,      40, 100)

// low

COMBO(semi,   &kp SEMI,    RB1 RB2,     DEF EXT,      40, 100)

COMBO(colon,  &kp COLON,   RB2 RB3,     DEF EXT,      40, 100)

// thumb
COMBO(app,    &kp K_APP,   LH1 LH0,     FUN,          40, 150)
COMBO(play,   &kp C_PP,    RH0 RH1,     NAV,          40, 150)

// cross
COMBO(capswd, &caps_word,  LM1 RM1,     DEF EXT,      60, 200)
